---
import '@/styles/common/_action-icon.scss';
import AppIcon from '../icons/AppIcon.astro';

interface _Props {
	icon: string;
	variant?: 'default' | 'scroll' | 'fixed-bottom-right';
	color?: 'primary' | 'secondary' | 'white';
	as?: 'a' | 'button';
	href?: string;
	title?: string;
	class?: string;
}

const {
	icon,
	variant = 'default',
	color = 'primary',
	as: Tag = 'a',
	href,
	title,
	class: className,
} = Astro.props as _Props;
---

<Tag
	href={href}
	title={title}
	class:list={[
		'action-icon',
		`action-icon--${variant}`,
		`action-icon--${color}`,
		className,
	]}
>
	<span class="sr-only">{title}</span>
	<div class="action-icon__inner">
		<AppIcon name={icon} class="w-6 h-6" />
	</div>
</Tag>
