---
interface GridRowProps {
	columns?: number; // Number of columns in the row
	gap?: string; // Gap between columns
	margin?: string; // Margin around the row
	align?: string; // Alignment of content within the row
	justify?: string; // Justification of content within the row
}

const props = Astro.props as GridRowProps;
const {
	columns = 3,
	gap = "gap-y-8 gap-x-8",
	align = "",
	justify = "justify-items-center",
	margin = "",
} = props;
---

<!-- GridRow container with dynamic columns and styling based on provided props -->
<div class={`grid grid-cols-1 xl:grid-cols-${columns} ${gap} ${align} ${justify} ${margin}`}>
	<slot />
	<!-- Slot to insert row items/content -->
</div>
