---
interface Props {
	rows?: number;
	gap?: string;
	padding?: string;
	align?: string;
	width?: string;
	maxWidth?: string;
}

const props = Astro.props as Props;
const {
	rows = 2,
	gap = "lg:gap-20",
	padding = "",
	align = "items-center",
	width = "w-full xl:w-3/4",
	maxWidth = "sm:max-w-80 lg:max-w-fit",
} = props;
---

<div class="flex flex-col items-center justify-center w-full">
	<div class={`grid xl:grid-rows-${rows} ${gap} ${padding} ${align} ${width} ${maxWidth}`}>
		<slot />
	</div>
</div>
