---
// Import necessary components and services
import { getLandingData } from "@/services/data.service";
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/Hero.astro";
import Services from "@/sections/Services.astro";
import AboutUs from "@/sections/About-us.astro";
import Testimonials from "@/sections/Testimonials.astro";
import Pricing from "@/sections/Pricing.astro";
import FAQ from "@/sections/FAQ.astro";
import Footer from "@/sections/Footer.astro";
import OptimizedImage from "@/components/common/OptimizedImage.astro";

// Fetch landing page data
const data = await getLandingData();

// Import images statically
import heroImageSrc from "../images/hero/backgroundImage.jpg";
import heroImageMobileSrc from "../images/hero/backgroundImageMobile.jpg";
---

<Layout meta={data.meta}>
	<Header data={data.headerData} />
	<main>
		{/* Hero Section */}
		<section class="relative h-screen flex items-center justify-center w-full">
			{/* Desktop Background Image */}
			<OptimizedImage
				src={heroImageSrc}
				alt="Desktop Hero Background"
				class="absolute inset-0 w-full h-full object-cover hidden sm:block"
			/>
			{/* Mobile Background Image */}
			<OptimizedImage
				src={heroImageMobileSrc}
				alt="Mobile Hero Background"
				class="absolute inset-0 w-full h-full object-cover sm:hidden"
			/>
			{/* Hero Content Container */}
			<div class="relative w-full flex justify-center">
				<div
					class="w-6/7 md:w-3/4 relative bg-white bg-opacity-70 px-6 rounded-2xl shadow-sm"
				>
					<div class="relative z-10">
						<Hero data={data.heroData} />
					</div>
				</div>
			</div>
		</section>

		{/* Other Sections */}
		<div>
			<Services data={data.servicesData} />
			<AboutUs data={data.aboutData} />
			<Testimonials data={data.testimonialsData} />
			<Pricing data={data.pricingData} />
			<FAQ data={data.faqData} />
		</div>

		{/* Footer */}
		<Footer data={data.footerData} />
	</main>
</Layout>
