---
// Import necessary components and services
import { getLandingData } from "@/services/data.service";
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/Hero.astro";
import Services from "@/sections/Services.astro";
import AboutUs from "@/sections/About-us.astro";
import Testimonials from "@/sections/Testimonials.astro";
import Pricing from "@/sections/Pricing.astro";
import FAQ from "@/sections/FAQ.astro";
import Contact from "@/sections/Contact.astro";
import Footer from "@/sections/Footer.astro";

// Fetch landing page data
const data = await getLandingData();
---

<Layout meta={data.meta}>
	<Header menuData={data.menuData} socialData={data.socialData} />
	<main>
		<Hero data={data.heroData} />
		<Services data={data.servicesData} />
		<AboutUs data={data.aboutData} />
		<Testimonials data={data.testimonialsData} />
		<Pricing data={data.pricingData} />
		<FAQ data={data.faqData} />
		<Contact data={data.contactData} />
		<Footer siteData={data.siteData} menuData={data.menuData} socialData={data.socialData} />
	</main>
</Layout>
