---
// src/pages/index.astro
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/home/Hero.astro';
import Services from '@/components/home/Services.astro';
import AboutUs from '@/components/home/AboutUs.astro';
import Testimonials from '@/components/home/Testimonials.astro';
import Pricing from '@/components/home/Pricing.astro';
import FAQ from '@/components/home/FAQ.astro';
import Contact from '@/components/home/Contact.astro';
import Footer from '@/components/home/Footer.astro';
import { landingData, footerData } from '@/data/landing-page.data';
import '@/styles/landing.scss';
import LandingPageBehavior from '@/components/behavior/LandingPageBehavior';

---

<Layout title="Celebra.me | Invitaciones Digitales Premium" className="theme-preset--elegant">
	<div class="landing-sections-wrapper">
		<Hero data={landingData.hero} />
		<div class="animate-icons"><Services data={landingData.services} /></div>
		<div class="animate-icons"><AboutUs data={landingData.about} /></div>
		<Testimonials data={landingData.testimonials} />
		<Pricing data={landingData.pricing} />
		<FAQ data={landingData.faq} />
		<Contact data={landingData.contact} />
		<Footer data={footerData} />
	</div>

	<LandingPageBehavior client:only="react" />
</Layout>
