---
import Container from '@components/layout/Container.astro';
import Grid from '@components/layout/Grid.astro';
import Section from '@components/layout/Section.astro';
import Card from '@components/ui/Card.astro';
import IconWrapper from '@components/common/IconWrapper.astro';
import OptimizedImage from '@components/common/OptimizedImage.astro';
import ImageWrapper from '@components/common/ImageWrapper.astro';
import Paragraph from '@components/common/Paragraph.astro';
import SectionTitle from '@components/typography/SectionTitle.astro';
import StyledContainer from '@components/layout/StyledContainer.astro';
import ActionBase from '@components/common/actions/ActionBase';
import ActionIcon from '@components/common/actions/ActionIcon';
import type { LegacyAboutData } from '@/core/interfaces/data/landingPage.legacy.interface';
import type { IconNames } from '@/core/types/ui/iconNames.type';
import partyToastImage from '@images/about/partyToast.jpg';
import Icon from '@components/common/Icon';

interface Props {
	data: LegacyAboutData;
}

// Destructure props for easier access
const {
	data: { title, description, values, cta },
} = Astro.props;
---

<Section
	id="about-section"
	backgroundImageDesktop="/images/about/bgAboutDesktop.jpg"
	backgroundImageMobile="/images/about/bgAboutMobile.jpg"
	padding="px-4 py-10"
	relative="relative"
	fullWidth={true}
	fullHeight={true}
>
	<div class="bg-accent-dark w-full h-1 absolute inset-0 opacity-80"></div>
	<!-- Container with relative positioning for absolute elements -->
	<StyledContainer variant="about-section">
		<Container width=" w-full">
			<div id="about-title" class="pt-20"></div>

			<Grid columns={2} gap="gap-12">
				{/* Section with title and description */}
				<div class="flex flex-col justify-content-center max-w-sm">
					<SectionTitle
						color="text-primary-dark"
						weight="font-bold"
						align="place-self-center xl:place-self-end"
						margin="mb-8 xl:mr-2"
					>
						{title}
					</SectionTitle>
					<Paragraph
						size="text-xl"
						align="text-center xl:text-right"
						textColor="text-primary-dark"
						weight="font-normal"
					>
						{description}
					</Paragraph>
				</div>

				{/* Image with responsive design and hover effects */}
				<div class="flex overflow-hidden rounded-3xl mx-auto">
					<ImageWrapper
						width="w-full"
						height="h-auto"
						minWidth="min-w-[250px]"
						justify="justify-center"
						margin="mx-auto"
						align="items-end"
						hover="hover:scale-105"
						transition="transition-transform duration-500 ease-in-out"
					>
						<OptimizedImage
							imagePath={partyToastImage}
							alt="Personas brindando en una celebración"
							rounded="rounded-3xl"
							width={350}
							height={350}
						/>
					</ImageWrapper>
				</div>
			</Grid>

			{/* Grid for displaying company values */}
			<Grid columns={3} gap="gap-8" padding="pt-12">
				{
					values.map((value) => (
						<Card
							minWidth="min-w-[250px] max-w-[350px] xl:min-w-[230px] xl:max-w-[230px]"
							minHeight="min-h-[200px] max-h-[200px] xl:min-h-[230px] xl:max-h-[230px]"
						>
							<IconWrapper background="bg-primary-dark" color="text-white">
								<Icon icon={value.icon} size="h-9 w-9" />
							</IconWrapper>
							<h3 class="text-lg sm:text-xl font-semibold mb-2 text-primary-dark text-center">
								{value.name}
							</h3>
							<Paragraph
								textColor="text-primary"
								align="text-center"
								size="text-sm sm:text-base"
							>
								{value.description}
							</Paragraph>
						</Card>
					))
				}
			</Grid>

			{/* Call-to-action button with margin adjustments for different screens */}
			<ActionBase
				variant="large"
				color="primary"
				as="a"
				href={cta.href}
				title="Cuéntanos sobre tu evento"
			>
				{cta.label}
			</ActionBase>

			<ActionIcon
				icon="ArrowDownIcon"
				variant="scroll"
				color="primary"
				as="a"
				href="#testimonials-section"
				title="Ver clientes que confiaron en nosotros"
			/>
		</Container>
	</StyledContainer>
</Section>

<div class="bg-accent-dark w-full h-1 opacity-80"></div>
