---
// /src/sections/Services.astro
// This component displays the services offered, including images and descriptions.

import Container from '@components/layout/Container.astro';
import Grid from '@components/layout/Grid.astro';
import Section from '@components/layout/Section.astro';
import OptimizedImage from '@components/common/OptimizedImage.astro';
import ImageWrapper from '@components/common/ImageWrapper.astro';
import SectionTitle from '@components/typography/SectionTitle.astro';
import ServiceItem from '@components/ui/ServiceItem.astro';

// Import local images
import xvImage from '@images/services/xv.jpg';
import weddingPartyImage from '@images/services/weddingParty.jpg';
import ActionBase from '@components/common/actions/ActionBase.astro';
import ActionIcon from '@components/common/actions/ActionIcon.astro';

import type { ServicesData } from '@/interfaces/ui/sections/landing-page.interface';

// Import stylesheet
import '@/styles/home/_services.scss';

interface Props {
	data: ServicesData;
}

const { data } = Astro.props;

// Helper function to chunk array into groups
const chunkArray = (arr: any[], size: number) =>
	Array.from({ length: Math.ceil(arr.length / size) }, (_v, i) =>
		arr.slice(i * size, i * size + size),
	);

// Split services into two groups
const [firstServiceGroup, secondServiceGroup] = chunkArray(data.services, 2);
---

<Section id="services-section" class="services">
	<SectionTitle color="text-secondary-dark/90" weight="font-thin" extraClass="tracking-wider">
		{data.title}
	</SectionTitle>
	<Container>
		{/* Updated to use the new Grid component */}
		<Grid columns={2} gap="gap-x-24 xl:gap-x-40">
			{/* First group: Image and Services */}
			<div class="services__column">
				{/* Image wrapper with hover effect classes */}
				<div class="services__image-container">
					<ImageWrapper
						flex="flex-col"
						transition="transition-transform duration-500 ease-in-out"
						hover="hover:scale-105"
						rounded="rounded-3xl"
						width="w-64 sm:w-80 lg:w-92"
					>
						<OptimizedImage
							imagePath={xvImage}
							alt="Fiesta de Quinceañera"
							width={350}
							height={350}
						/>
					</ImageWrapper>
				</div>
			</div>

			{/* Services description for first group */}
			<div class="services__column">
				{
					firstServiceGroup.map((service, index) => (
						<ServiceItem service={service} key={index} />
					))
				}
			</div>

			{/* Second group: Services and Image */}
			<div class="services__column">
				{
					secondServiceGroup.map((service, index) => (
						<ServiceItem service={service} key={index} />
					))
				}
			</div>

			{/* Image wrapper with hover effect classes */}
			<div class="services__column services__image-wrapper">
				<ImageWrapper
					flex="flex-col"
					overflow="overflow-hidden"
					transition="transition-transform duration-500 ease-in-out"
					hover="hover:scale-105"
					rounded="rounded-3xl"
					width="w-64 sm:w-80 lg:w-92"
				>
					<OptimizedImage
						imagePath={weddingPartyImage}
						alt="Personas bailando en una fiesta"
						width={350}
						height={350}
					/>
				</ImageWrapper>
			</div>
		</Grid>
	</Container>

	{/* CTA Button */}
	<ActionBase
		variant="large"
		as="a"
		href="#about-section"
		color="secondary"
		className=""
		title="Ver demos de invitaciones"
	>
		Elegir mi invitación
	</ActionBase>

	{/* Scroll to About Section Button */}
	<ActionIcon
		variant="scroll"
		href="#about-section"
		title="Conoce más sobre nosotros"
		color="secondary"
		icon="ArrowDownIcon"
	/>
</Section>
