---
interface Props {
	columns?: string;
	gap?: string;
	padding?: string;
	margin?: string;
	align?: string;
	justify?: string;
	width?: string;
}

const props = Astro.props as Props;
const {
	columns = "",
	gap = "gap-x-20",
	padding = "px-0",
	margin = "mx-auto",
	align = "items-center",
	justify = "justify-center",
	width = "w-full",
} = props;
---

<div class={`grid ${columns} ${gap} ${padding} ${margin} ${align} ${justify} ${width}`}>
	<slot />
</div>
