---
// About-us.astro
// This component represents the About section of the website, showcasing company values and a call-to-action.

import Container from "@/components/layout/Container.astro";
import Grid from "@/components/layout/Grid.astro";
import GridRow from "@/components/layout/GridRow.astro";
import Section from "@/components/layout/Section.astro";
import Action from "@/components/common/Action.astro";
import ActionWrapper from "@/components/common/ActionWrapper.astro";
import Card from "@/components/ui/Card.astro";
import Icon from "@/components/common/Icon.astro";
import IconWrapper from "@/components/common/IconWrapper.astro";
import OptimizedImage from "@/components/common/OptimizedImage.astro";
import ImageWrapper from "@/components/common/ImageWrapper.astro";
import Paragraph from "@/components/common/Paragraph.astro";
import SectionTitle from "@/components/typography/SectionTitle.astro";
import StyledContainer from "@/components/layout/StyledContainer.astro";
import type { AboutData, Icon as IconType } from "@/config/landing.interface";
import partyToastImage from "@/images/about/partyToast.jpg";

interface Value {
	icon: IconType;
	name: string;
	description: string;
}

interface Props {
	data: AboutData & {
		values: Value[];
		cta: {
			label: string;
		};
	};
}

// Destructure props for easier access
const {
	data: { title, description, values, cta },
} = Astro.props;

// Extract reusable styles
const sectionStyles = {
	backgroundImageDesktop: "src/images/about/pinkStripesDesktop.jpg",
	backgroundImageMobile: "src/images/about/pinkStripesMobile.jpg",
	relative: "relative",
	fullWidth: true,
	fullHeight: true,
};

const titleStyles = {
	color: "text-primary-dark",
	weight: "font-bold",
	align: "text-center xl:text-right",
	margin: "mb-8",
};
---

<Section id="about-section" {...sectionStyles}>
	<div class="bg-primary-dark w-full h-1 absolute inset-0 opacity-50"></div>
	<StyledContainer relative="relative">
		<Container>
			<div id="about-title" class="pt-20"></div>
			<Grid gap="gap-12">
				<GridRow columns={2}>
					<div class="flex flex-col justify-content-center max-w-sm">
						<SectionTitle {...titleStyles}>
							{title}
						</SectionTitle>
						<Paragraph
							size="text-xl"
							align="text-center xl:text-right"
							textColor="text-primary-dark"
							weight="font-normal"
						>
							{description}
						</Paragraph>
					</div>
					<ImageWrapper
						width="w-full"
						height="h-auto"
						justify="justify-center"
						align="items-end"
						class="overflow-hidden transition-all duration-300 ease-in-out transform hover:scale-102 hover:shadow-lg rounded-lg"
					>
						<OptimizedImage
							src={partyToastImage}
							alt="Personas brindando en una celebración"
							width={600}
							height={400}
							class="rounded-lg shadow-md transition-transform duration-300 ease-in-out transform hover:scale-105"
						/>
					</ImageWrapper>
				</GridRow>
				<GridRow columns={3}>
					{
						values.map((value) => (
							<Card>
								<IconWrapper background="bg-primary-dark" color="text-white">
									<Icon icon={value.icon} size="h-9 w-9" />
								</IconWrapper>
								<h3 class="text-xl font-semibold mb-2 text-primary-dark">
									{value.name}
								</h3>
								<Paragraph textColor="text-primary">{value.description}</Paragraph>
							</Card>
						))
					}
				</GridRow>
			</Grid>

			<!-- Use ActionWrapper to group the Actions -->
			<ActionWrapper margin="my-16">
				<Action variant="tertiary" href="#" title="Cuéntanos sobre tu evento"
					>{cta.label}</Action
				>
			</ActionWrapper>

			{/* Button to navigate to testimonials section */}
			<ActionWrapper margin="mt-12">
				<Action
					variant="scroll"
					href="#testimonials-section"
					title="Ver algunos de los clientes que confiaron en nosotras"
					icon="ArrowDownIcon"
					class="hover:text-primary"
				/>
			</ActionWrapper>
		</Container>
	</StyledContainer>
</Section>
<div class="bg-primary-dark w-full h-1 opacity-50"></div>
