---
import Container from "@/components/layout/Container.astro";
import Grid from "@/components/layout/Grid.astro";
import GridRow from "@/components/layout/GridRow.astro";
import Section from "@/components/layout/Section.astro";
import Action from "@/components/common/Action.astro";
import ActionWrapper from "@/components/common/ActionWrapper.astro";
import Card from "@/components/ui/Card.astro";
import Icon from "@/components/common/Icon.astro";
import IconWrapper from "@/components/common/IconWrapper.astro";
import Image from "@/components/common/Image.astro";
import ImageWrapper from "@/components/common/ImageWrapper.astro";
import Paragraph from "@/components/common/Paragraph.astro";
import SectionTitle from "@/components/typography/SectionTitle.astro";
import StyledContainer from "@/components/layout/StyledContainer.astro";
import type { AboutData, Icon as IconType } from "@/config/landing.interface";

// Define more specific types for better type checking
interface Value {
	icon: IconType;
	name: string;
	description: string;
}

interface Props {
	data: AboutData & {
		values: Value[];
		cta: {
			label: string;
		};
	};
}

// Destructure props for easier access
const {
	data: { title, description, values, cta },
} = Astro.props;

// Extract reusable styles
const sectionStyles = {
	backgroundImageDesktop: "/background/pinkStripesDesktop.jpg",
	backgroundImageMobile: "/background/pinkStripesMobile.jpg",
	relative: "relative",
	fullWidth: true,
	fullHeight: true,
};

const titleStyles = {
	color: "text-primary-dark",
	weight: "font-bold",
	align: "text-center xl:text-right",
	margin: "mb-8",
};
---

<Section id="about-section" {...sectionStyles}>
	<div class="bg-primary-dark w-full h-1 absolute inset-0 opacity-50"></div>
	<StyledContainer relative="relative">
		<Container>
			<div id="about-title" class="pt-20"></div>
			<Grid gap="gap-12">
				<GridRow columns={2}>
					<div class="flex flex-col justify-content-center max-w-sm">
						<SectionTitle {...titleStyles}>
							{title}
						</SectionTitle>
						<Paragraph
							size="text-xl"
							align="text-center xl:text-right"
							textColor="text-primary-dark"
							weight="font-normal"
						>
							{description}
						</Paragraph>
					</div>
					<div class="lg:flex lg:justify-center xl:items-end">
						<ImageWrapper>
							<Image
								src="about/partyToast.jpg"
								alt="Personas brindando por el festejo"
							/>
						</ImageWrapper>
					</div>
				</GridRow>
				<GridRow columns={3}>
					{
						values.map((value) => (
							<Card>
								<IconWrapper background="bg-primary-dark" color="text-white">
									<Icon icon={value.icon as IconType} size="h-9 w-9" />
								</IconWrapper>
								<h3 class="text-xl font-semibold mb-2 text-primary-dark">
									{value.name}
								</h3>
								<Paragraph textColor="text-primary">{value.description}</Paragraph>
							</Card>
						))
					}
				</GridRow>
			</Grid>

			<!-- Use ActionWrapper to group the Actions -->
			<ActionWrapper margin="my-16">
				<Action variant="tertiary" href="#">{cta.label}</Action>
			</ActionWrapper>

			{/* Button to navigate to testimonials section */}
			<ActionWrapper margin="mt-12">
				<Action
					variant="scroll"
					href="#testimonials-section"
					title="Click to go to testimonials section"
					icon="ArrowDownIcon"
					class="hover:text-primary"
				/>
			</ActionWrapper>
		</Container>
	</StyledContainer>
</Section>
<div class="bg-primary-dark w-full h-1 opacity-50"></div>
