---
import Container from "@/components/layout/Container.astro";
import Grid from "@/components/layout/Grid.astro";
import GridRow from "@/components/layout/GridRow.astro";
import Section from "@/components/layout/Section.astro";
import Action from "@/components/common/Action.astro";
import ButtonWrapper from "@/components/common/ButtonWrapper.astro";
import Card from "@/components/ui/Card.astro";
import Icon from "@/components/common/Icon.astro";
import IconWrapper from "@/components/common/IconWrapper.astro";
import Image from "@/components/common/Image.astro";
import ImageWrapper from "@/components/common/ImageWrapper.astro";
import Paragraph from "@/components/common/Paragraph.astro";
import SectionTitle from "@/components/typography/SectionTitle.astro";
import StyledContainer from "@/components/layout/StyledContainer.astro";
import type { AboutData, Icon as IconType } from "@/config/landing.interface";

interface Props {
	data: AboutData;
}

const { data } = Astro.props;
---

<Section
	id="about-section"
	backgroundImage="/background/pinkStripes.jpg"
	width="w-full"
	relative="relative"
>
	<div class="bg-primary-dark w-full h-1 absolute inset-0 opacity-50"></div>
	<StyledContainer relative="relative">
		<Container>
			<div id="about-title" class="pt-20"></div>
			<Grid gap="gap-12">
				<GridRow columns={2}>
					<div class="flex flex-col justify-content-center max-w-sm">
						<SectionTitle
							color="text-primary-dark"
							weight="font-bold"
							align="text-center xl:text-right"
							margin="mb-8"
						>
							{data.title}
						</SectionTitle>
						<Paragraph
							size="text-xl"
							align="text-center xl:text-right"
							textColor="text-primary-dark"
							weight="font-normal"
						>
							{data.description}
						</Paragraph>
					</div>
					<div class="lg:flex lg:justify-center xl:items-end">
						<ImageWrapper>
							<Image
								src="about/partyToast.jpg"
								alt="Personas brindando por el festejo"
							/>
						</ImageWrapper>
					</div>
				</GridRow>
				<GridRow columns={3}>
					{
						data.values.map((value) => (
							<Card>
								<IconWrapper background="bg-primary-dark">
									<Icon icon={value.icon as IconType} class="mb-4" />
								</IconWrapper>
								<h3 class="text-xl font-semibold mb-2 text-primary-dark">
									{value.name}
								</h3>
								<Paragraph textColor="text-primary">{value.description}</Paragraph>
							</Card>
						))
					}
				</GridRow>
			</Grid>
			<ButtonWrapper gap="gap-x-6 md:gap-x-12" margin="my-16">
				<Action as="a" type="button3" href="#">{data.cta.label}</Action>
			</ButtonWrapper>
			<ButtonWrapper>
				<Action
					as="a"
					type="downButton"
					href="#pricing-section"
					title="Click para ir a la sección de precios"
					iconName="ArrowDownIcon"
				/>
			</ButtonWrapper>
		</Container>
	</StyledContainer>
</Section>
<div class="bg-primary-dark w-full h-1 opacity-50"></div>
