---
// About-us.astro
// This component represents the About section of the website, showcasing company values and a call-to-action.

import Container from "@/components/layout/Container.astro";
import Grid from "@/components/layout/Grid.astro";
import GridRow from "@/components/layout/GridRow.astro";
import Section from "@/components/layout/Section.astro";
import Action from "@/components/common/Action.astro";
import ActionWrapper from "@/components/common/ActionWrapper.astro";
import Card from "@/components/ui/Card.astro";
import Icon from "@/components/common/Icon.astro";
import IconWrapper from "@/components/common/IconWrapper.astro";
import OptimizedImage from "@/components/common/OptimizedImage.astro";
import ImageWrapper from "@/components/common/ImageWrapper.astro";
import Paragraph from "@/components/common/Paragraph.astro";
import SectionTitle from "@/components/typography/SectionTitle.astro";
import StyledContainer from "@/components/layout/StyledContainer.astro";
import type { AboutData, Icon as IconType } from "@/config/landing.interface";
import partyToastImage from "@/images/about/partyToast.jpg";

interface Value {
	icon: IconType;
	name: string;
	description: string;
}

interface Props {
	data: AboutData & {
		values: Value[];
		cta: {
			label: string;
		};
	};
}

// Destructure props for easier access
const {
	data: { title, description, values, cta },
} = Astro.props;
---

<Section
	id="about-section"
	backgroundImageDesktop="/images/about/orangeStripesDesktopBg.jpg"
	backgroundImageMobile="/images/about/orangeStripesMobileBg.jpg"
	padding="px-4 py-10 pt-10"
	relative="relative"
	fullWidth={true}
	fullHeight={true}
>
	<!-- Overlay to provide a consistent dark background -->
	<div class="bg-accent-dark w-full h-1 absolute inset-0 opacity-80"></div>

	<!-- Container with relative positioning for absolute elements -->
	<StyledContainer relative="relative">
		<Container>
			<div id="about-title" class="pt-20"></div>
			<Grid gap="gap-12">
				<GridRow columns={2}>
					<div class="flex flex-col justify-content-center max-w-sm">
						<SectionTitle
							color="text-primary-dark"
							weight="font-bold"
							align="place-self-center xl:place-self-end"
							margin="mb-8 xl:mr-2"
						>
							{title}
						</SectionTitle>
						<Paragraph
							size="text-xl"
							align="text-center xl:text-right"
							textColor="text-primary-dark"
							weight="font-normal"
						>
							{description}
						</Paragraph>
					</div>

					<!-- Image section with responsive design and hover effects for larger screens -->
					<div class="overflow-hidden rounded-3xl">
						<ImageWrapper
							width="w-full"
							height="h-auto"
							justify="justify-center"
							align="items-end"
							class="transition-all duration-300 ease-in-out transform hover:scale-105"
						>
							<OptimizedImage
								imagePath={partyToastImage}
								alt="Personas brindando en una celebración"
								rounded="rounded-3xl"
								width={350}
								height={350}
							/>
						</ImageWrapper>
					</div>
				</GridRow>
				<GridRow columns={3}>
					{
						values.map((value) => (
							<Card maxWidth="min-w-sm max-w-sm">
								<IconWrapper background="bg-primary-dark" color="text-white">
									<Icon icon={value.icon} size="h-9 w-9" />
								</IconWrapper>
								<h3 class="text-lg sm:text-xl font-semibold mb-2 text-primary-dark text-center">
									{value.name}
								</h3>
								<Paragraph
									textColor="text-primary"
									align="text-center"
									size="text-sm sm:text-base"
								>
									{value.description}
								</Paragraph>
							</Card>
						))
					}
				</GridRow>
			</Grid>

			<!-- Call-to-action button with margin adjustments for different screens -->
			<ActionWrapper margin="my-16">
				<Action
					variant="tertiary"
					color="accent"
					href="#"
					title="Cuéntanos sobre tu evento"
				>
					{cta.label}
				</Action>
			</ActionWrapper>

			<!-- Scroll down button to navigate to testimonials section -->
			<ActionWrapper margin="mt-24">
				<Action
					variant="scroll"
					href="#testimonials-section"
					title="Ver algunos de los clientes que confiaron en nosotras"
					icon="ArrowDownIcon"
					color="primary"
					class="hover:text-primary"
				/>
			</ActionWrapper>
		</Container>
	</StyledContainer>
</Section>

<!-- Bottom line for visual separation -->
<div class="bg-accent-dark w-full h-1 opacity-80"></div>
