---
import Action from "@/components/Action.astro";
import Icon from "@/components/Icon.astro";
import IconWrapper from "@/components/IconWrapper.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import type { AboutData } from "@/config/landing.interface";

interface Props {
	data: AboutData;
	testimonials: {
		image: string;
		content: string;
		author: string;
	};
}

const { data } = Astro.props;
---

<section
	id="about-us"
	class="flex flex-col mb-60 gap-y-28 mt-80 px-4 w-3/4 mx-auto"
>
	<div id="about-title" class="pt-20"></div>
	<SectionTitle>
		{data.title}
	</SectionTitle>
	<p class="text-lg text-center mb-8">{data.description}</p>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
		{
			data.values.map((value) => (
				<article class="flex flex-col max-w-xs xl:max-w-sm rounded-lg shadow px-5 py-5 gap-y-10 hover:opacity-80">
					<div class="flex flex-col items-center text-center">
						<IconWrapper>
							<Icon icon={value.icon} class="mb-4" />
						</IconWrapper>
						<h3 class="text-2xl font-semibold mb-2">
							{value.name}
						</h3>
						<p>{value.description}</p>
					</div>
				</article>
			))
		}
	</div>
	<div class="text-center">
		<Action as="a" type="button3" href={data.cta.href}>
			{data.cta.label}
		</Action>
	</div>
</section>
