---
// src/sections/Header.astro
import { twMerge } from "tailwind-merge";
import Action from "@/components/common/Action.astro";
import Icon from "@/components/common/Icon.astro";
import Logo from "@/components/typography/Logo.astro";
import type { HeaderData } from "@/config/landing.interface";
import ActionWrapper from "@/components/common/ActionWrapper.astro";
import StyledContainer from "@/components/layout/StyledContainer.astro";
import HeaderScroll from "@/components/ui/HeaderScroll";
import ToggleMobileMenu from "@/components/ui/ToggleMobileMenu";

interface Props {
	data: HeaderData;
}

const { data } = Astro.props;

// Define base styles for the header
const baseHeaderStyles =
	"w-full fixed top-0 z-50 transition-all duration-500 ease-in-out mx-auto justify-content-center p-1";
const baseNavStyles = "container mx-auto px-4 flex items-center justify-between h-full";
const baseLinkStyles = "text-sm font-medium transition-all duration-500 ease-in-out";

// Function to determine if the current page matches the link
const isCurrentPage = (href: string) => Astro.url.pathname === href;
---

<header id="main-header" class={baseHeaderStyles}>
	<StyledContainer
		relative="relative"
		width="w-full"
		height="h-10 sm:h-14 md:h-20"
		margin="m-0"
		flex="flex-col"
		padding=""
		minWidth="min-w-full"
		verticalAlign="items-center"
		horizontalAlign="justify-center"
		backgroundColor="bg-white/80"
		shadow="shadow-lg"
		opacity="opacity-0"
		rounded="rounded-2xl"
		extraClasses="backdrop-blur-sm transform -translate-y-full transition-all duration-500 ease-in-out"
	>
		<HeaderScroll client:load />
		<ToggleMobileMenu client:load />
		<nav class={baseNavStyles}>
			<!-- Logo section -->
			<div class="flex items-center">
				<a href="/" class="flex items-center space-x-2" aria-label="Go to homepage">
					<Logo
						as="div"
						containerFlex="flex flex-nowrap place-items-end relative hidden xl:block"
						containerGap="gap-0"
						containerMargin=""
						containerPadding=""
						containerAlign=""
						containerAnimation="fade-up-hover"
						textSize="text-sm"
						textClasses="shadow-text"
						iconClasses="hidden"
						domainTextStyles="relative top-0.5 right-4"
					/>
				</a>
			</div>

			<!-- Desktop navigation -->
			<ul class="hidden md:flex space-x-8">
				{
					data.links.map((item) => (
						<li>
							<a
								href={item.href}
								class={twMerge(
									baseLinkStyles,
									isCurrentPage(item.href)
										? "text-primary-dark"
										: "text-gray-600 hover:text-primary",
								)}
							>
								{item.label}
							</a>
						</li>
					))
				}
			</ul>

			<!-- CTA Button -->
			<ActionWrapper gap="gap-4" margin="ml-4" class="hidden md:block">
				<Action
					variant="primary"
					href="#"
					color="primary"
					class="font-semibold px-5 rounded-full transition-all duration-300 py-0"
				>
					Ver demos
				</Action>
			</ActionWrapper>

			<!-- Mobile menu button -->
			<button id="mobile-menu-button" class="md:hidden" aria-label="Toggle mobile menu">
				<Icon
					icon="MenuIcon"
					primaryColor="var(--accent-dark)"
					secondaryColor="var(--accent-light)"
				/>
			</button>
		</nav>
	</StyledContainer>

	<!-- Mobile navigation (hidden by default) -->
	<div
		id="mobile-menu"
		class="hidden md:hidden top-full w-full p-5 mx-auto mt-1 bg-white/90 shadow-lg rounded-2xl transition-all duration-300 ease-in-out"
	>
		<nav class="container mx-auto px-4 py-4">
			<ul class="space-y-6">
				{
					data.links.map((item) => (
						<li>
							<a
								href={item.href}
								class={twMerge(
									baseLinkStyles,
									"block py-2",
									isCurrentPage(item.href)
										? "text-primary-dark"
										: "text-gray-600 hover:text-primary",
								)}
							>
								{item.label}
							</a>
						</li>
					))
				}
			</ul>
			<div class="mt-6">
				<Action
					variant="primary"
					href="#"
					class="w-full text-center bg-primary text-white hover:bg-primary-dark transition-all duration-300"
				>
					Ver demos
				</Action>
			</div>
		</nav>
	</div>
</header>
