---
import Action from "@/components/common/Action.astro";
import ActionWrapper from "@/components/common/ActionWrapper.astro";
import Icon from "@/components/common/Icon.astro";
import type { Icon as IconType } from "@/config/landing.interface";

// Define the expected data structure for the Hero component
interface HeroData {
  icon?: IconType;
  title: string;
  subTitle: string;
  primaryCta: string;
  secondaryCta: string;
  highlightedTitle?: string;
  highlightedTitleSmall?: string;
}

interface Props {
  data: HeroData;
}

const { data } = Astro.props;

// Reusable styles to improve consistency and maintainability
const styles = {
  heroSection: "relative flex flex-col items-center justify-center min-h-screen px-4",
  contentWrapper: "w-full md:w-2/3 text-center",
  title: "text-2xl lg:text-3xl xl:text-4xl mb-4",
  highlightedTitle: "text-primary font-semibold text-5xl lg:text-6xl xl:text-7xl shadow-text text-nowrap",
  highlightedTitleSmall: "text-primary font-normal text-lg lg:text-2xl xl:text-3xl 2xl:text-4xl shadow-text lg:mt-6 place-content-end mr-0",
  subTitle: "text-primary opacity-80 mt-6 font-light text-xl md:text-2xl mb-12",
};
---

<section id="hero-section" class={styles.heroSection}>
  <div class={styles.contentWrapper}>
    <!-- Main title with icon and highlighted text -->
    <h1 class={styles.title}>
      <span class="text-primary opacity-80 block font-light mb-4">
        {data.title}
      </span>
      <span class="flex flex-col lg:flex-row items-center justify-center">
        {data.icon && (
          <Icon icon={data.icon} class="h-20 w-20" />
        )}
        <div class={styles.highlightedTitle}>
          {data.highlightedTitle}
        </div>
        <div class={styles.highlightedTitleSmall}>
          {data.highlightedTitleSmall}
        </div>
      </span>
    </h1>

    <!-- Subtitle -->
    <h2 class={styles.subTitle}>{data.subTitle}</h2>

    <!-- Call-to-action buttons -->
    <ActionWrapper
      margin="mb-12"
    >
      <Action variant="primary" href="#">{data.primaryCta}</Action>
      <Action variant="secondary" href="#">{data.secondaryCta}</Action>
    </ActionWrapper>
  </div>

  <!-- Scroll button -->
  <div class="absolute bottom-0 transform -translate-x-1/2">
  <Action
    variant="scroll"
    href="#services-section"
    title="Ir a sección de Servicios"
    icon="ArrowDownIcon"
    class="absolute bottom-0 transform -translate-x-1/2 opacity-80 hover:opacity-100 hover:text-primary-light"
  />
  </div>
</section>

<style>
  /* Fade-in animation for the hero section */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  #hero-section {
    animation: fadeIn 0.8s ease-in-out forwards;
  }

  /* Enhance text shadow for better readability */
  .shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
</style>
