---
import Container from "@/components/layout/Container.astro";
import Grid from "@/components/layout/Grid.astro";
import GridCell from "@/components/layout/GridCell.astro";
import GridRow from "@/components/layout/GridRow.astro";
import Section from "@/components/layout/Section.astro";
import Action from "@/components/common/Action.astro";
import ActionWrapper from "@/components/common/ActionWrapper.astro";
import Image from "@/components/common/Image.astro";
import ImageWrapper from "@/components/common/ImageWrapper.astro";
import SectionTitle from "@/components/typography/SectionTitle.astro";
import ServiceItem from "@/components/ui/ServiceItem.astro";
import type { ServicesData } from "@/config/landing.interface";

interface Props {
	data: ServicesData;
}

const { data } = Astro.props;
---

<Section id="services-section" relative="relative">
	<SectionTitle>
		{data.title}
	</SectionTitle>
	<Container>
		<Grid gap="xl:gap-8">
			<GridRow columns={2} gap="gap-x-24">
				<GridCell>
					<ImageWrapper>
						<Image
							src="/services/xv.jpg"
							alt="Quinceañera"
							height="h-auto"
							width="w-full"
						/>
					</ImageWrapper>
				</GridCell>
				<GridCell>
					{
						data.services
							.slice(0, 2)
							.map((service, index) => <ServiceItem service={service} key={index} />)
					}
				</GridCell>
			</GridRow>
			<GridRow columns="2" gap="gap-24">
				<GridCell>
					{
						data.services
							.slice(2, 4)
							.map((service, index) => <ServiceItem service={service} key={index} />)
					}
				</GridCell>
				<GridCell>
					<ImageWrapper>
						<Image
							src="/services/weddingParty.jpg"
							alt="Personas bailando en una fiesta"
							width="w-full"
						/>
					</ImageWrapper>
				</GridCell>
			</GridRow>
		</Grid>
	</Container>

	<!-- CTA Button -->
	<ActionWrapper margin="mt-24">
		<Action
			variant="tertiary"
			href="#"
			class="w-full md:w-auto bg-secondary border-2 border-secondary-light border-dashed hover:border-opacity-50"
			href="#"
			title="Ver demos"
		>
			Elegir mi invitación
		</Action>
	</ActionWrapper>

	<!-- Scroll to About Section Button -->
	<ActionWrapper margin="mt-24">
		<Action
			variant="scroll"
			href="#about-section"
			title="Click para conocernos mas"
			icon="ArrowDownIcon"
			class="border-secondary-light bg-secondary hover:text-secondary-light"
		/>
	</ActionWrapper>
</Section>
