---
import Icon from '@components/common/Icon';
import IconWrapper from '@components/common/IconWrapper.astro';
import type { Service } from '@interfaces/data/landingPage.interface';
import type { IconNames } from '@interfaces/data/siteData.interface';
import Paragraph from '../common/Paragraph.astro';
import SectionSubtitle from '../typography/SectionSubtitle.astro';

// Define the props interface for type safety
interface Props {
	service: Service;
	key: number;
}

// Destructure the service prop
const { service } = Astro.props;

// Define reusable styles
const styles = {
	article: 'group flex flex-col items-center justify-center transition-transform transform w-92',
	container: 'flex flex-col items-center max-w-80',
	iconContainer: 'mt-6 mb-4',
	textContainer: 'flex flex-col items-center text-center',
	icon: 'h-full w-full text-white transition-transform transform group-hover:scale-150 group-hover:rotate-6 group-hover:shadow-lg group-hover:shadow-secondary-dark duration-500 ease-in-out',
};
---

<article class={styles.article}>
	<div class={styles.container}>
		<!-- Service Icon -->
		<div class={styles.iconContainer}>
			<IconWrapper
				background="bg-secondary-dark"
				color="text-neutral-light"
				size="h-12 w-12"
				padding="p-3"
			>
				<Icon
					icon={service.icon as IconNames}
					size="h-full w-full"
					stroke="#fff"
					fill="none"
					className={styles.icon}
				/>
			</IconWrapper>
		</div>

		<!-- Service Details -->
		<div class={styles.textContainer}>
			<SectionSubtitle
				size="text-2xl md:text-3xl"
				color="text-secondary-dark"
				margin="mb-2"
				extraClass="tracking-wide"
			>
				{service.title}
			</SectionSubtitle>
			<Paragraph
				size="text-base"
				textColor="text-secondary-dark"
				weight="font-thin"
				padding="px-2 md:px-4"
				maxWidth="max-w-max"
			>
				{service.description}
			</Paragraph>
		</div>
	</div>
</article>
