---
import type { Icon as IconType } from "@/config/landing.interface";
import Icon from "./Icon.astro";
import IconWrapper from "./IconWrapper.astro";

interface Props {
	size?: string;
	color?: string;
	weight?: string;
	icon?: IconType;
	extraClass?: string;
}

const props = Astro.props as Props;
const { size = "text-sm", color = "", weight = "font-light", icon, extraClass } = props;
---

<li class={`flex ${size}`}>
	{
		icon && (
			<IconWrapper background="bg-transparent" size="h-8 w-8" padding="p-2" align="items-center">
				<Icon icon={icon} />
			</IconWrapper>
		)
	}

	<div class={`flex items-center ${color} ${weight} hover:font-normal ${extraClass}  transition-all`}>
		<div class="whitespace-pre-line overflow-hidden min-w-56">
			<slot />
		</div>
	</div>
</li>
