---
// src/sections/Hero.astro
// This component is used to render the hero section of the landing page, including the logo, slogan and cta buttons.
import ActionBase from '@components/common/actions/ActionBase';
import ActionIcon from '@components/common/actions/ActionIcon';
import Section from '@components/layout/Section.astro';
import StyledContainer from '@components/layout/StyledContainer.astro';
import { HeroProps } from '@/core/interfaces/ui/sections/hero.interface';
import SectionTitle from '@components/typography/SectionTitle.astro';
import SectionSubtitle from '@components/typography/SectionSubtitle.astro';
import WhatsAppButton from '@components/ui/WhatsAppButton';
import ActionWrapper from '@components/common/actions/ActionWrapper';
import Logo from '@components/ui/Logo';

interface Props {
	data: HeroProps;
}

const { data } = Astro.props;
---

<Section
	id="hero-section"
	backgroundImageDesktop={data.backgroundImage.desktopUrl}
	backgroundImageMobile={data.backgroundImage.mobileUrl}
	padding="py-20"
	relative="relative"
	fullWidth
	fullHeight
>
	<!-- Overlay for styling and layout adjustments -->
	<StyledContainer variant="hero-section">
		<!-- Title with responsive settings and animation -->
		<SectionTitle
			margin="mb-0"
			align="text-center"
			size="text-lg sm:text-xl md:text-2xl lg:text-3xl"
			color="text-primary-dark/80"
			weight="font-light"
			extraClass="slide-in-left shadow-text-light tracking-widest"
		>
			{data.title}
		</SectionTitle>

		<!-- Responsive logo with accessibility enhancements -->
		<div class="shimmer permanent-glow">
			<Logo variant="hero" />
		</div>

		<!-- Subtitle for additional context with animation and styles -->
		<SectionSubtitle
			size="text-lg sm:text-xl md:text-2xl lg:text-3xl"
			align="text-center"
			weight="font-normal"
			color="text-accent-dark"
			margin="mx-12 mx-auto"
			extraClass="font-sans shadow-text-light tracking-widest fade-in fade-slow"
		>
			{data.subtitle}
		</SectionSubtitle>

		<!-- CTA Buttons for main actions -->
		<ActionWrapper>
			<WhatsAppButton client:idle />
			<!-- Internal link action using ActionBase -->
			<ActionBase as="a" href="#" variant="primary" color="secondary">
				{data.secondaryCta}
			</ActionBase>
		</ActionWrapper>
	</StyledContainer>

	<!-- Scroll button directing users to the next section -->
	<ActionIcon
		icon="ArrowDownIcon"
		variant="scroll"
		color="primary"
		as="a"
		href="#services-section"
		title="Conoce maÌs acerca de nuestros servicios"
	/>
</Section>
