---
// src/frontend/sections/Hero.astro
import WhatsAppButton from '@/frontend/components/ui/WhatsAppButton';
import SectionNavButton from '@components/ui/SectionNavButton';
import Logo from '@components/ui/Logo';
import { heroData } from '@/core/data/sections/heroSection.json';
import type { HeroProps } from '@interfaces/ui/sections/hero.interface';

// CSS modules
import containerStyles from '@styles/components/container.module.scss';
import typographyStyles from '@styles/components/typography.module.scss';
import buttonStyles from '@styles/components/button.module.scss';
import sectionStyles from '@styles/components/section.module.scss';

const hero = heroData as HeroProps;
---

<section
	id={hero.id}
	class={sectionStyles['hero__section']}
	style={`--background-desktop: url(${hero.backgroundDesktop?.src}); --background-mobile: url(${hero.backgroundMobile?.src});`}
>
	<div class={`${containerStyles['hero__container']} fade-in fade-slow`}>
		<h1 class={`${typographyStyles['hero__title']} slide-in-left`}>{hero.title}</h1>
		<div class="shimmer permanent-glow fade-in fade-slow">
			<Logo variant="hero-section" altText="Celebra-me Hero Logo" />
		</div>
		{hero.subtitle && <h2 class={typographyStyles['hero__subtitle']}>{hero.subtitle}</h2>}
		<div class={buttonStyles['button__wrapper']}>
			<WhatsAppButton client:idle />
			{
				hero.secondaryCta && (
					<a
						href={hero.secondaryCta.href || '#'}
						class={`${buttonStyles['button--primary']} ${buttonStyles['button--color-secondary']}`}
					>
						{hero.secondaryCta.label}
					</a>
				)
			}
		</div>
	</div>
	<SectionNavButton href="#services-section" section="hero" client:only />
</section>
