---
// src/frontend/sections/Hero.astro

import WhatsAppButton from '@/frontend/components/ui/WhatsAppButton.legacy';
import SectionNavButton from '@components/ui/SectionNavButton';
import Logo from '@components/ui/Logo';

import type { HeroProps } from '@/core/interfaces/ui/sections/hero.interface';

// Import CSS modules
import containerStyles from '@styles/components/container.module.scss';
import typographyStyles from '@styles/components/typography.module.scss';
import buttonStyles from '@styles/components/button.module.scss';
import sectionStyles from '@styles/components/section.module.scss';

const { data: HeroProps } = Astro.props;
---

<!-- The hero section uses the .hero class from hero.module.css -->
<section
	class={`${sectionStyles['hero__section']}`}
	style={`
    --background-desktop: url(${HeroProps.backgroundDesktop?.src});
    --background-mobile: url(${HeroProps.backgroundMobile?.src});
  `}
>
	<!-- Use the hero-specific container from container.module.css -->
	<div class={`${containerStyles['hero__container']} fade-in fade-slow`}>
		<!-- Hero Title -->
		<h1 class={`${typographyStyles['hero__title']} slide-in-left`}>
			{HeroProps.title}
		</h1>

		<!-- Hero Logo -->
		<div class="shimmer permanent-glow fade-in fade-slow">
			<Logo variant="hero-section" altText="Celebra-me Hero Logo" />
		</div>

		<!-- Hero Subtitle -->
		{
			HeroProps.subtitle && (
				<h2 class={`${typographyStyles['hero__subtitle']} fade-in fade-slow`}>
					{HeroProps.subtitle}
				</h2>
			)
		}

		<!-- CTA Buttons -->
		<div class={`${buttonStyles['button__wrapper']}`}>
			<WhatsAppButton client:idle />
			{
				HeroProps.secondaryCta && (
					<a
						href={HeroProps.secondaryCta.href || '#'}
						class={`${buttonStyles['button--primary']} ${buttonStyles['button--color-secondary']}`}
					>
						{HeroProps.secondaryCta.label}
					</a>
				)
			}
		</div>
	</div>
	<!-- Scroll button directing users to the next section -->
	<SectionNavButton href="#services-section" section="hero" client:only />
</section>
