---
/**
 * src/frontend/sections/Pricing.astro
 * -----------------------------------
 * Astro component for the Pricing section.
 * -----------------------------------
 */
import PricingStyles from '@styles/components/pricing.module.scss';
import SectionNavButton from '@components/ui/SectionNavButton';
import { pricingData } from '@data/sections/pricingSection.json';
import type { PricingProps } from '@interfaces/ui/sections/pricing.interface';

const PricingProps = pricingData;

// Format numbers with thousand separators
const formatNumber = (amount: number): string =>
	new Intl.NumberFormat('es-MX', {
		minimumFractionDigits: 0,
		maximumFractionDigits: 0,
	}).format(amount);
---

<section
	id="pricing-section"
	class={PricingStyles['pricing-section']}
	style="
    --background-desktop: url('/images/pricing/bgPricingDesktop.jpg');
    --background-mobile: url('/images/pricing/bgPricingMobile.jpg');
  "
>
	<div class={PricingStyles['pricing-section__decorative-line--top']}></div>

	<div class={PricingStyles['pricing-section__container']}>
		<h2 class={PricingStyles['pricing-section__title']}>{PricingProps.title}</h2>

		<div class={PricingStyles['pricing-section__grid']}>
			{
				PricingProps.tiers.map((tier) => (
					<a href={tier.href} class={PricingStyles['pricing-card']}>
						<h3 class={PricingStyles['pricing-card__title']}>{tier.title}</h3>
						<h4 class={PricingStyles['pricing-card__subtitle']}>{tier.subtitle}</h4>
						<p class={PricingStyles['pricing-card__price']}>
							{'$ ' + formatNumber(tier.price.amount)}
							<small class={PricingStyles['pricing-card__price-currency']}>
								{tier.price.currency}
							</small>
							<span class={PricingStyles['pricing-card__price-period']}>
								/{tier.price.period}
							</span>
						</p>
						<ul class={PricingStyles['pricing-card__features']}>
							{tier.features.map((feature) => (
								<li class={PricingStyles['pricing-card__features-item']}>
									<span class={PricingStyles['pricing-card__features-item-icon']}>
										✓
									</span>
									<span class={PricingStyles['pricing-card__features-item-text']}>
										{feature}
									</span>
								</li>
							))}
						</ul>
						<div class={PricingStyles['pricing-card__cta']}>{tier.cta}</div>
					</a>
				))
			}
		</div>
	</div>

	<div class={PricingStyles['pricing-section__decorative-line--bottom']}></div>

	<SectionNavButton href="#faq-section" section="pricing" />
</section>
