---
// src/sections/Pricing.astro
import Container from '@components/layout/Container.astro';
import Grid from '@components/layout/Grid.astro';
import Section from '@components/layout/Section.astro';
import BulletList from '@components/common/BulletList.astro';
import Card from '@components/ui/Card';
import SectionSubtitle from '@components/typography/SectionSubtitle.astro';
import SectionTitle from '@components/typography/SectionTitle.astro';
import StyledContainer from '@components/layout/StyledContainer.astro';
import type { PricingData } from '@interfaces/data/landingPage.interface';
import type { IconNames } from '@/core/types/ui/iconNames.type';
import ActionIcon from '@components/common/actions/ActionIcon';

// Define the properties interface for the component
interface Props {
	data: PricingData;
}

// Destructure the data property from Astro.props
const { data } = Astro.props;
---

<Section
	id="pricing-section"
	padding="px-2 sm:px-14 py-10 pt-40"
	fullWidth={true}
	fullHeight={true}
	backgroundImageMobile="/images/pricing/bgPricingMobile.jpg"
	backgroundImageDesktop="/images/pricing/bgPricingDesktop.jpg"
>
	{/* Top decorative line */}
	<div class="bg-primary w-full h-0.5 absolute inset-0 opacity-50 shadow-md"></div>

	<StyledContainer>
		<Container width="w-full xl:w-11/12 2xl:w-4/5" padding="px-0 xl:px-10 pt-20">
			{/* Pricing section title */}
			<SectionTitle
				margin="mb-10"
				weight="font-semibold"
				color="text-secondary-dark"
				extraClass="pricing-card-title"
			>
				{data.title}
			</SectionTitle>

			{/* Grid to display pricing plans */}
			<Grid extraClass="pricing-grid" columns={3} align="items-center" margin="mb-20">
				{/* Map through the tier data to create a card for each plan */}
				{
					data.tiers.map((tier) => (
						<Card
							href={tier.href}
							hover="hover:brightness-105 hover:scale-105"
							borderColor="border-primary hover:border-secondary"
							extraClass="pricing-card"
							client:visible
						>
							{/* Plan title */}
							<SectionTitle
								size="text-2xl"
								margin="mt-4"
								color="text-primary-dark"
								weight="font-semibold"
								extraClass="pricing-card-title"
							>
								{tier.title}
							</SectionTitle>

							{/* Plan description */}
							<SectionSubtitle
								color="text-primary"
								size="text-md"
								margin="mb-4"
								extraClass="pricing-card-subtitle"
							>
								{tier.description}
							</SectionSubtitle>

							{/* Plan price */}
							<SectionSubtitle
								color="text-secondary-dark"
								size="text-xl"
								weight="font-normal"
								margin="mb-0"
								extraClass="pricing-card-price"
							>
								{'$ ' + tier.price.amount + tier.price.currency}
								<span class="text-sm font-thin mt-2 ml-2">{tier.price.period}</span>
							</SectionSubtitle>

							{/* List of plan features */}
							<BulletList
								items={tier.features.map((feature) => ({
									text: feature,
									icon: 'CheckIcon' as IconNames,
								}))}
								color="text-primary-dark/90"
								size="text-sm"
								weight="font-thin"
								iconSize="h-6 w-6"
								iconColor="text-secondary"
								iconPadding="p-4"
								gap="gap-y-0"
								listClass="pricing-card-bullet-text"
								iconClass="pricing-card-bullet-icon"
							/>

							{/* Plan call-to-action */}
							<div class="pricing-card-cta hover:scale-125">{tier.cta}</div>
						</Card>
					))
				}
			</Grid>

			<ActionIcon
				variant="scroll"
				href="#faq-section"
				color="primary"
				title="Responde tus dudas sobre nuestros servicios"
				icon="ArrowDownIcon"
			/>
		</Container>
	</StyledContainer>
</Section>

{/* Bottom decorative line */}
<div class="bg-primary-dark w-full h-0.5 opacity-50 mt-0 shadow-xl"></div>
