---
interface Props {
	gap?: string;
	size?: string;
	color?: string;
	weight?: string;
	align?: string;
}

const props = Astro.props as Props;
const {
	gap = "gap-y-4",
	size = "text-lg",
	color = "text-primary-dark/90",
	weight = "font-light",
	align = "items-center",
} = props;
---

<div class="m-4 my-8">
	<ul class=`flex flex-col ${gap} ${size} ${color} ${weight} ${align}`>
		<slot />
	</ul>
</div>
