---
import Icon from "@/components/common/Icon.astro";
import IconWrapper from "@/components/common/IconWrapper.astro";
import type { Icon as IconType, Service } from "@/config/landing.interface";
import Paragraph from "../common/Paragraph.astro";
import SectionSubtitle from "../typography/SectionSubtitle.astro";

// Define the props interface for type safety
interface Props {
    service: Service;
    key: number;
}

// Destructure the service prop
const { service, key } = Astro.props;

// Define reusable styles
const styles = {
    article: "flex flex-col items-center justify-content transition-transform transform hover:scale-105",
    container: "grid justify-items-center max-w-80",
    iconContainer: "mt-6 mb-4",
    textContainer: "text-secondary-dark text-center",
};
---

<article class={styles.article}>
    <div class={styles.container}>
        <!-- Service Icon -->
        <div class={styles.iconContainer}>
            <IconWrapper
                background="bg-secondary"
                size="h-12 w-12"
                padding="p-3"
            >
                <Icon
                    icon={service.icon as IconType}
                    size="h-full w-full"
                    color="text-white"
                />
            </IconWrapper>
        </div>

        <!-- Service Details -->
        <div class={styles.textContainer}>
            <SectionSubtitle>
                {service.title}
            </SectionSubtitle>
            <Paragraph>
                {service.description}
            </Paragraph>
        </div>
    </div>
</article>
